{% extends 'layouts/base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5">Profile</h1>

            <img src="{{ app.user.gravatarUrl }}" alt="{{ app.user.fullName }}'s Avatar" class="shadow rounded-circle">

            <p class="mt-5 lead">{{ app.user.email }}</p>

            <hr>

            <h2>{{ app.user.fullName }}</h2>
            <p><small>🕗 Account created on {{ app.user.createdAt|date('d/m/Y') }}</small></p>

            <p>
                <a href="{{ path('app_account_edit') }}">Edit Account</a> | 
                <a href="{{ path('app_account_change_password') }}">Change Password</a>
            </p>
        </div>
    </div>
{% endblock %}
