{% extends 'layouts/base.html.twig' %}

{% block title 'Register' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Create an account</h1>

            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>
                    Register
                </button>
               
                <p class="mt-5 mb-3 text-center text-muted">
                    Already have an account? <a href="{{ path('app_login') }}">Log in</a>
                </p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
